@{
    ViewBag.Title = "Forgot Password";
    Layout = "~/Views/_IndexLayout.cshtml";
}
<script src="~/assets/js/forgotPassword.js"></script>

<div class="main-content">
    <div class="row">
        <div class="col-sm-10 col-sm-offset-1">
            <div class="login-container">
                <div class="center"></div>
                <div class="space-6"></div>
                <div class="position-relative">

                    <div id="forgot-box" class="forgot-box widget-box no-border">
                        <div class="widget-body">
                            <div class="widget-main">
                                <h4 class="header red lighter bigger">
                                    <i class="ace-icon fa fa-key"></i>
                                    Retrieve Password
                                </h4>
                                <div class="space-6"></div>
                                <p>
                                    Enter your email and to receive instructions
                                </p>
                                <form>
                                    <fieldset>
                                        <p class="ui-icon-alert alert-danger" id="alertBlankInputMessage">Email id is empty</p>
                                        <p class="ui-icon-alert alert-danger" id="alertMessage">Email id not recognized</p>
                                        <p class="ui-icon-alert alert-success" id="passwordLinkSuccess">Password sent successfully</p>
                                        <label class="block clearfix">
                                            <span class="block input-icon input-icon-right">
                                                <input id="emailID" type="email" class="form-control" placeholder="Email" />
                                                <i class="ace-icon fa fa-envelope"></i>
                                            </span>
                                        </label>
                                        <div class="clearfix">
                                            <input id="forgotButton" type="button" class="btn btn-primary pull-right" value="Send me!" data-toggle="tooltip" title="Forgot password">

                                        </div>
                                    </fieldset>
                                </form>
                            </div><!-- /.widget-main -->
                            <div class="toolbar center">
                                <a href="~/Home/Login" data-target="#login-box" class="back-to-login-link">
                                    Back to login
                                    <i class="ace-icon fa fa-arrow-right"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>



