@{
    ViewBag.Title = "mywork";
    Layout = "~/Views/_LayoutPage1.cshtml";
}

<h2></h2>

<div>
    <div class="widget-box transparent">
        <div class="widget-header">
            <h4 class="widget-title lighter smaller">
               MY WORK
            </h4>
        </div>

      
        <div class="row">
            <div class="col-xs-12">
                <table id="simple-table" class="table table-striped table-bordered table-hover">
                    <thead>
                        <tr>
                           
                            <th>Work</th>
                            <th>Due Date</th>
                            <th class="hidden-480">Client</th>
                            <th class="hidden-480">Status</th>
                            <th>Action</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr>
                            <td><a href="#" data-toggle="tooltip" title="Description">Airline Services</a> </td>
                            <td>10-12-2015</td>
                            <td class="hidden-480">ZeroChaos</td>
                            <td>
                                <a href="#">
                                    <div class="clearfix">
                                
                                        <span class="pull-right">35%</span>
                                    </div>

                                    <div class="progress progress-mini">
                                        <div style="width:35%" class="progress-bar"></div>
                                    </div>
                                </a>
                            </td>

                            <td>
                                <div class="hidden-sm hidden-xs btn-group">
                                    <a href="~/work/updateTask">   <button class="btn btn-minier btn-purple">Update</button></a>
</div>

                           </td>
                        </tr>

                        <tr>
                        
                            <td>
                                <a href="#" data-toggle="tooltip" title="Description">Slack API</a>
                            </td>
                            <td>12-10-2015</td>
                            <td class="hidden-480">ZeroChaos</td>
                            <td>
                                <a href="#">
                                    <div class="clearfix">
                                     
                                        <span class="pull-right">65%</span>
                                    </div>

                                    <div class="progress progress-mini">
                                        <div style="width:65%" class="progress-bar"></div>
                                    </div>
                                </a>

                            </td>

                            <td>
                                <div class="hidden-sm hidden-xs btn-group">
                                
                                    <a href="~/work/updateTask">  <button class="btn btn-minier btn-purple">Update</button></a>

</div>

                                
                            </td>
                           
                        </tr>

                        <tr>
                            
                            <td>
                                <a href="#" data-toggle="tooltip" title="Description">Music App</a>
                            </td>
                            <td>05-10-2015</td>
                            <td class="hidden-480">ZeroChaos</td>
                             <td>
                                <a href="#">
                                    <div class="clearfix">
                                   
                                        <span class="pull-right">15%</span>
                                    </div>

                                    <div class="progress progress-mini">
                                        <div style="width:15%" class="progress-bar"></div>
                                    </div>
                                </a>
                            </td>

                            <td>
                                <div class="hidden-sm hidden-xs btn-group">
                                   
                                    <a href="~/work/updateTask">  <button class="btn btn-minier btn-purple">Update</button></a> 

                                </div>

                                
                            </td>
                        </tr>
                </table>
            </div>
        </div>
    </div>
    <div>
        <div class="widget-box transparent">
            <div class="widget-header">
                <h4 class="widget-title lighter smaller">
                    <i class="ace-icon fa fa-star blue"></i> ALLOTED WORK ITEMS
                </h4>
            </div>
            <div class="row">

                <div class="col-xs-12">
                    <table id="simple-table" class="table table-striped table-bordered table-hover">
                        <thead>
                            <tr>

                                <th>Work</th>
                                <th>Due Date</th>
                                <th class="hidden-480">Directory</th>

                                <th>
                                   
                                    Team Name
                                </th>
                                <th class="hidden-480">Status</th>

                                <th>Action</th>

                            </tr>
                        </thead>

                        <tbody>
                            <tr>
                                <td>
                                    <a href="#" data-toggle="tooltip" title="Description">Embedded System</a>
                                </td>
                                <td>10-12-2015</td>
                                <td class="hidden-480">Private</td>
                                <td>Team 2</td>

                                <td>

                                    <a href="#">
                                        <div class="clearfix">

                                            <span class="pull-right">15%</span>
                                        </div>

                                        <div class="progress progress-mini">
                                            <div style="width:15%" class="progress-bar"></div>
                                        </div>
                                    </a>

                                </td>
                                <td>
                                    <button class="btn btn-minier btn-purple">Review</button>
                                </td>


                            </tr>

                            <tr>

                                <td>
                                    <a href="#" data-toggle="tooltip" title="Description">Data Analysis Software</a>
                                </td>
                                <td>07-09-2015</td>
                                <td class="hidden-480">Public</td>
                                <td>Zerochaos</td>


                                <td class="hidden-480">
                                    <a href="#">
                                        <div class="clearfix">

                                            <span class="pull-right">65%</span>
                                        </div>

                                        <div class="progress progress-mini">
                                            <div style="width:65%" class="progress-bar"></div>
                                        </div>
                                    </a>

                                </td>


                                <td>

                                    <button class="btn btn-minier btn-purple">Review</button>

                                </td>

                            </tr>

                            <tr>

                                <td>
                                    <a href="#" data-toggle="tooltip" title="Description">GPS based system</a>
                                </td>
                                <td>03-10-2015</td>
                                <td class="hidden-480">Private</td>
                                <td>Team 1</td>
                                <td class="hidden-480">
                                    <a href="#">
                                        <div class="clearfix">

                                            <span class="pull-right">95%</span>
                                        </div>

                                        <div class="progress progress-mini">
                                            <div style="width:95%" class="progress-bar"></div>
                                        </div>
                                    </a>

                                </td>

                                <td>
                                    <button class="btn btn-minier btn-purple">Review</button>

                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>
</div>