@{
    ViewBag.Title = "openworkitem";
    Layout = "~/Views/_LayoutPage1.cshtml";
}

<h2></h2>

    <div class="widget-box transparent" id="recent-box">
    <div class="widget-header">
        <div class="col-xs-10">
        <h4 class="widget-title lighter smaller">
            Open Work Item

        </h4>
    </div>

    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-8">
            <table id="simple-table" class="table table-striped table-bordered table-hover">
                <thead>
                    <tr>
                        <th width="5%">Sr No</th>
                        <th width="20%">Title</th>
                        <th width="14%">Client</th>
                        <th width="20%">Description</th>
                        <th width="4%">Rewards</th>
                        <th width="5%">Apply for workitem</th>
                    </tr>
                </thead>

                <tbody>
                    <tr>
                        <td>1</td>
                        <td> <a href="~/OpenWork/Irctc" data-toggle="tooltip" title="Work Description">IRCTC website</a> </td>
                        <td>baroda@yahoo.com</td>
                        <td class="hidden-480">UI Design with Database and competible with any device</td>
                        <td>Paytm</td>
                        <td>
                            <input type="button" id="myButton1" class="btn btn-minier btn-purple" value="Apply" /><br /><br />
                            <input type="button" id="myButton1" class="btn btn-minier btn-success" value="Watch" />
                        </td>
                    </tr>

                    <tr>
                        <td>2</td>
                        <td> <a href="~/OpenWork/makemytrip" data-toggle="tooltip" title="Work Description">makemytrip Database</a> </td>
                        <td>baroda@yahoo.com</td>
                        <td class="hidden-480">Design a database with use of MongoDB and AngularJS</td>
                        <td>Visa</td>
                        <td>
                            <input type="button" id="myButton1" class="btn btn-minier btn-purple" value="Apply" /><br /><br />
                            <input type="button" id="myButton1" class="btn btn-minier btn-success" value="Watch" />
                        </td>
                    </tr>

                    <tr>
                        <td>3</td>
                        <td> <a href="~/OpenWork/Epay" data-toggle="tooltip" title="Work Description">Online Payment Portal</a> </td>
                        <td>epay@gmail.com</td>
                        <td class="hidden-480">UI Design with Secure Server and MD5 Security Algorithms </td>
                        <td>VISA</td>
                        <td>
                            <input type="button" id="myButton1" class="btn btn-minier btn-purple" value="Apply" /><br /><br />
                            <input type="button" id="myButton1" class="btn btn-minier btn-success" value="Watch" />
                        </td>
                    </tr>

                    <tr>
                        <td>4</td>
                        <td> <a href="~/OpenWork/message" data-toggle="tooltip" title="Work Description">Online Team Messaging app</a> </td>
                        <td>onlinet@gmail.com</td>
                        <td class="hidden-480">Messaging between various member of the team </td>
                        <td>VISA</td>
                        <td>
                            <input type="button" id="myButton1" class="btn btn-minier btn-purple" value="Apply" /><br /><br />
                            <input type="button" id="myButton1" class="btn btn-minier btn-success" value="Watch" />
                        </td>
                    </tr>

                    <tr>
                        <td>5</td>
                        <td> <a href="~/OpenWork/phpweb" data-toggle="tooltip" title="Work Description">Php website Development</a> </td>
                        <td>epay@gmail.com</td>
                        <td class="hidden-480">UI Design and coding for website in Php </td>
                        <td>VISA</td>
                        <td>
                            <input type="button" id="myButton1" class="btn btn-minier btn-purple" value="Apply" /><br /><br />
                            <input type="button" id="myButton1" class="btn btn-minier btn-success" value="Watch" />
                        </td>
                    </tr>

                    <tr>
                        <td>6</td>
                        <td> <a href="~/OpenWork/mysql" data-toggle="tooltip" title="Work Description">MySQL Database Development</a> </td>
                        <td>sqlmy@gmail.com</td>
                        <td class="hidden-480">Database development using MySql  </td>
                        <td>Master Card</td>
                        <td>
                            <input type="button" id="myButton1" class="btn btn-minier btn-purple" value="Apply" /><br /><br />
                            <input type="button" id="myButton1" class="btn btn-minier btn-success" value="Watch" />
                        </td>
                    </tr>

                    <tr>
                        <td>7</td>
                        <td> <a href="~/OpenWork/mongodb" data-toggle="tooltip" title="Work Description">Database development using MongoDB</a> </td>
                        <td>Mongo@gmail.com</td>
                        <td class="hidden-480">Development of database using MongoDB </td>
                        <td>VISA</td>
                        <td>
                            <input type="button" id="myButton1" class="btn btn-minier btn-purple" value="Apply" /><br /><br />
                            <input type="button" id="myButton1" class="btn btn-minier btn-success" value="Watch" />  
                        </td>
                    </tr>

                    <tr>
                        <td>8</td>
                        <td> <a href="~/OpenWork/cloud" data-toggle="tooltip" title="Work Description">Cloud Storage</a> </td>
                        <td>cloud@gmail.com</td>
                        <td class="hidden-480">Designing and development of architecture using cloud storage</td>
                        <td>VISA</td>
                        <td>
                            <input type="button" id="myButton1" class="btn btn-minier btn-purple" value="Apply" /><br /><br />
                            <input type="button" id="myButton1" class="btn btn-minier btn-success" value="Watch" />
                        </td>
                    </tr>

                    <tr>
                        <td>9</td>
                        <td> <a href="~/OpenWork/crossplatform" data-toggle="tooltip" title="Work Description">Cross platform app</a> </td>
                        <td>cross@gmail.com</td>
                        <td class="hidden-480">Development of apps working in both android and iOS </td>
                        <td>VISA</td>
                        <td>
                            <input type="button" id="myButton1" class="btn btn-minier btn-purple" value="Apply" /><br /><br />
                            <input type="button" id="myButton1" class="btn btn-minier btn-success" value="Watch" />
                        </td>
                    </tr>

                    <tr>
                        <td>10</td>
                        <td> <a href="~/OpenWork/dotnet" data-toggle="tooltip" title="Work Description">ASP.NET Web Application</a> </td>
                        <td>asp@gmail.com</td>
                        <td class="hidden-480">Development of web application using ASP.NET </td>
                        <td>Macdonalds</td>
                        <td>
                            <input type="button" id="myButton1" class="btn btn-minier btn-purple" value="Apply" /><br /><br />
                            <input type="button" id="myButton1" class="btn btn-minier btn-success" value="Watch" />
                        </td>
                    </tr>
            </table>

            <div>
                <div class="col-xs-4"></div>
                <ul class="pagination">
                    <li class="disabled">
                        <a href="#">
                            <i class="ace-icon fa fa-angle-double-left"></i>
                        </a>
                    </li>

                    <li class="active">
                        <a href="#">1</a>
                    </li>

                    <li>
                        <a href="#">2</a>
                    </li>

                    <li>
                        <a href="#">3</a>
                    </li>

                    <li>
                        <a href="#">4</a>
                    </li>

                    <li>
                        <a href="#">5</a>
                    </li>

                    <li>
                        <a href="#">
                            <i class="ace-icon fa fa-angle-double-right"></i>
                        </a>
                    </li>
                </ul>
            </div>



        </div>
    </div>
        </div>
</div>
