@model List<DemoWorkBounty.Models.UpdateWorkitem>
@{
    ViewBag.Title = "AddDocument";
    Layout = "~/Views/_LayoutPage1.cshtml";
}
<script type="text/javascript">

</script>

<h2>AddDocument</h2>
<div class="row">
    <div class="col-xs-12">
        @foreach (var item in Model)
        {
            <form class="form-horizontal" role="form" data-toggle="validator" name="Workitemform">
                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> Title <span style="color:red;">*</span></label>

                    <div class="col-sm-9">
                        <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> @Html.DisplayFor(s => item.Title) <span style="color:red;">*</span></label>

                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> Title <span style="color:red;">*</span></label>

                    <div class="col-sm-9">
                        <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> @Html.DisplayFor(s => item.Summary) <span style="color:red;">*</span></label>

                    </div>
                </div>
                
                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right" for="form-field-1">Attach Documents </label>
                    <div class="col-sm-9">
                        <input multiple="" type="file" id="myFile" />

                    </div>
                </div>
                
                <div class="col-sm-9">
                    <div class="clearfix">
                        <input type="hidden" id="Userid" value="@Session["UserID"]" />
                        <button class="btn btn-info" type="submit" onclick="AddWorkitem(); return false;">
                            <i class="ace-icon fa fa-check bigger-110"></i>
                            Submit
                        </button>


                    </div>
                </div>

            </form>
        }
    </div>
</div>