@model DemoWorkBounty.Models.UpdateWorkitem
@{
    ViewBag.Title = "Add Document";
    Layout = "~/Views/_LayoutPage1.cshtml";
}
<script type="text/javascript">
    function uploadData() {
     

        var d = new Date();
        var item = {
            "WorkitemID": $("#Workid").val(),
            "UserID": $("#Userid").val(),
            "SubmissionPath": $("#myFile").serialize(),
            "IsRewarded": false,
            "SubmissionDateTime":d.toDateString()
        };

    
        $.ajax({
            type: "POST",
            url: "/work/adddocument/",
            data: JSON.stringify(item),
            dataType: "json",
            contentType: "application/json;charset=utf-8",
            processData: true,
            success: function (data, status, xhr) {
                alert("The result is : " + status);
            },
            error: function (xhr) {
                alert(xhr.responseText);
            }
        });
    }


</script>

<h2>Add Document</h2>
<div class="row">
    <div class="col-xs-12">
     
            <form class="form-horizontal" role="form" data-toggle="validator" name="Workitemform" id="Workitemform" method="post" enctype="multipart/form-data">
                <input type="hidden" id="Workid" name="Workid" value="@Model.WorkItemID" />
                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> Title </label>

                    <div class="col-sm-9">
                        <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> @Html.DisplayFor(s =>Model.Title) </label>

                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> Title</label>

                    <div class="col-sm-9">
                        <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> @Html.DisplayFor(s => Model.Summary)</label>

                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right" for="form-field-1">Attach Documents </label>
                    <div class="col-sm-9">
                        <input type="file" id="myFile" name="myFile" />

                    </div>
                </div>

                <div class="col-sm-9">
                    <div class="clearfix">
                        <button class="btn btn-info" type="submit">
                            <i class="ace-icon fa fa-check bigger-110"></i>
                            Submit
                        </button>


                    </div>
                </div>

            </form>
        
    </div>
</div>