@{
    ViewBag.Title = "Add team";
    Layout = "~/Views/_DashboardLayout.cshtml";
}

<script src="~/assets/js/jquery-AddTeam.js"></script>

<ul class="breadcrumb">
    <li>
        <i class="ace-icon fa fa-home home-icon"></i>
        <a href="~/home/dashboard" data_toggle="tooltip" , title="Dashboard">Dashboard</a>
    </li>
    <li class="active">Add team</li>
</ul>
<body id="body">
  
        <div class="widget-box transparent" id="recent-box">
            <div class="widget-header">
                <div class="alert alert-danger" id="alertMessage">
                    <button type="button" class="close" data-dismiss="alert">
                        <i class="ace-icon fa fa-times"></i>
                    </button>
                    <strong>
                        <i class="ace-icon fa fa-times"></i>
                        Failed!
                    </strong>
                            Team name should not be empty.
                    <br>
                </div>
                <div class="col-xs-10">
                    <h4 class="widget-title lighter smaller">
                        <i class="menu-icon fa fa-users"></i>
                        <a href="~/Team/AddTeam">Add team</a>
                    </h4>
                </div>
                <div class="row">
                    <div class="col-md-5"></div>
                    <div class="col-sm-10" id="addTeamData">
                        <p class="ui-icon-alert alert-success" id="teamAlertMessage" style="width:250px"> Team created successfully!</p>
                        <p class="ui-icon-alert alert-danger" id="teamWarningMessage" style="width:250px"> Team Already exists.</p>
                        <input type="text" id="txtTeamName" placeholder="" class="col-xs-6 col-sm-3" maxlength="20" />&nbsp;
                        <input type="hidden" id="Userid" value="@Session["UserID"]" />
                        <input type="button" value="Submit" onclick="submit();" class="btn btn-minier btn-success TeamLayoutButton" data-toggle="tooltip" title="Create team" id="AddTeamButton" />
                </div>
            </div>
        </div>
    </div>
        <div class="widget-box transparent" id="recent-box1">
            <div class="widget-header">
                <div class="col-xs-10">
                    <h4 class="widget-title lighter smaller">
                        <i class="menu-icon fa fa-user padding10px"></i>
                        Add Member
                    </h4>
                </div>
                <div class="row">
                    <div class="col-md-1"></div>
                    <div class="col-sm-10">
                        <input type="text" id="itId" size="5" class="col-xs-6 col-sm-3" />&nbsp;
                        <input type="hidden" id="Searchid" value="@Session["UserID"]" />
                        <input type="button" value="Search" onclick="show();" class="btn btn-minier btn-purple" /> &nbsp;
                    </div>
                    
                    <div class=".col-xs-4.col-sm-2 no-padding-right">
                        <div class="col-xs-4">
                            <p class="alert alert-warning" id="memberAlreadyExist">Member Already exist</p>
                            <p class="alert alert-warning" id="noDateFoundMessage"> No member name found!</p>
                            <p><table id="simple-table" class="table table-striped table-bordered table-hover">
                                <tbody id="items"></tbody>
                            </table></p>
                        </div>
                    </div>
                </div>

            </div>
        </div>

</body>
