@{
    ViewBag.Title = "popup";
    Layout = "~/Views/_LayoutPage5.cshtml";
}

<h2>popup</h2>
<h2>Index</h2>

<p>This is some content! This is some content! This is some content! This is some content! This is some content! This is some content! </p>

<button id="modal-opener">Open Dialog</button>

<div id="dialog-modal" title="Basic modal dialog">
    <p>This is a test modal popup</p>
</div>
