@{
    Layout = "~/Views/_IndexLayout.cshtml";
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    <hgroup>
        <h1>Access Denied</h1>
        <h2>You are not authorized to access this resource.</h2>
    </hgroup>
</body>
</html>

