@{
       ViewBag.Title = "Error";
       Layout = "~/Views/_IndexLayout.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
    <script type="text/javascript" src="~/assets/js/Error_Redirect.js"></script>
</head>
<body>
    <hgroup>
        <h1>Error.</h1>
        <h2>An error occurred while processing your request.</h2>
    </hgroup>
    <div id="dvCountDown">
       <h2> You will be redirected after <span id="lblCount"></span>&nbsp;seconds.  </h2>
    </div>
</body>
</html>