@{
    Layout = "~/Views/_IndexLayout.cshtml";
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <script type="text/javascript" src="~/assets/js/Error_Redirect.js"></script>
    <title>Error</title>
</head>
<body>
    <hgroup>
        <h1>Upload file too large</h1>
        <h3>Maximum upload size is 4MB</h3>
    </hgroup>
     <a href="~/Home/addworkitem">Go back to add workitem</a>
</body>
</html>

