@{
    ViewBag.Title = "c";
    Layout = "~/Views/_LayoutPage1.cshtml";
}

<h2></h2>
<div class="col-sm-10">
    <div class="widget-box transparent" id="recent-box">
        <div class="widget-header">
            <h4 class="widget-title lighter smaller">
                <i class="ace-icon fa fa-rss blue"></i>C programming
            </h4>

        </div>

        <div>
            C is a general-purpose, procedural, imperative computer programming language developed in 1972 by Dennis M. Ritchie at the Bell Telephone Laboratories to develop the UNIX operating system. C is the most widely used computer language. It keeps fluctuating at number one scale of popularity along with Java programming language, which is also equally popular and most widely used among modern software programmers.
        </div>

        <div>

        </div>
        @*<div class="row">*@
        <div class="widget-header">
            <h4 class="widget-title lighter smaller">
                <i class="ace-icon fa fa-rss blue"></i>Details
            </h4>

        </div>
        <div>

            <table id="simple-table" class="table table-striped table-bordered table-hover">
                <thead>
                    <tr>


                        <th width="10%">Start Date</th>
                        <th width="10%">Due Date</th>

                        <th width="10%">Rewards</th>
                        <th width="10%">Amount</th>
                        <th width="10%">Status</th>

                    </tr>
                </thead>

                <tbody>
                    <tr>

                        <td>10-12-2015</td>
                        <td class="hidden-480">10-01-2016</td>

                        <td>Paytm</td>
                        <td>500 $</td>
                        <td> Pending</td>

                    </tr>
                </tbody>
            </table>
        </div>







    </div>
</div>
